@{
    ViewBag.Title = "Realtime Donut Progress Chart";
}

@*<div class="row marginTop5Pct marginBottom2Pct">
    <div class="col-md-4">
        <div class="infocard">
            <div class="row marginBottom15">
                <div class="col-sm-2"></div>
                <div class="col-sm-8"><div id="rtDonutChart1"></div></div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="infocard">
            <div class="row marginBottom15">
                <div class="col-sm-2"></div>
                <div class="col-sm-8"><div id="rtDonutChart2"></div></div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="infocard">
            <div class="row marginBottom15">
                <div class="col-sm-2"></div>
                <div class="col-sm-8"><div id="rtDonutChart3"></div></div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
</div>

<div class="row marginTop3Pct marginBottom2Pct">
    <div class="col-md-4">
        <div class="infocard">
            <div class="row marginBottom15">
                <div class="col-sm-2"></div>
                <div class="col-sm-8"><div id="rtDonutChart4"></div></div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="infocard">
            <div class="row marginBottom15">
                <div class="col-sm-2"></div>
                <div class="col-sm-8"><div id="rtDonutChart5"></div></div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="infocard">
            <div class="row marginBottom15">
                <div class="col-sm-2"></div>
                <div class="col-sm-8"><div id="rtDonutChart6"></div></div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
</div>*@

@section scripts
{
    <script>
        $(function () {
            var dashboard = $.connection.serviceDashboard,
                infocardTemplate = '<div class="col-md-4"><div class="infocard"><div class="row marginBottom15"><div class="col-sm-2"></div><div class="col-sm-8"><div id="{chartId}"></div></div><div class="col-sm-2"></div></div></div></div>',
                rowTemplate = '<div class="row marginTop3Pct"></div>',
                $layoutBodyContainer = $('#layout-body-container');
            var rtChart = ESK.Blog.Dataviz.DonutProgressChart;

            function init() {
                dashboard.server.getAllServiceStatuses().done(function (statuses) {
                    console.log("get all services done.");
                    ct = 0;
                    $layoutBodyContainer.empty();
                    $.each(statuses, function () {
                        if (ct % 3 === 0)
                        {
                            $layoutBodyContainer.append(rowTemplate);
                        }
                        $layoutBodyContainer.children('div[class="row marginTop3Pct"]:last').append(infocardTemplate.replace('{chartId}', this.Id));
                        rtChart.create($('#' + this.Id), this.Title, '');
                        ct++;
                    });
                });
            }

            dashboard.client.updateServiceStatus = function (status) {
                rtChart.updateProgress($('#' + status.Id), status.Current, status.Error);
            }

            $.connection.hub.start().done(init);
        })
    </script>
}